

#logo {
        margin-bottom: -10px;
        animation: fill 1.8s ease forwards 2.1s;
    }

    
    #logo path:nth-child(3){
        stroke-dasharray: 576.2;
        stroke-dashoffset: 576.2;
        animation: line-anim 1.5s ease forwards 1.2s;
    }
    #logo path:nth-child(2){
        stroke-dasharray: 538.68;
        stroke-dashoffset: 538.68;
        animation: line-anim 1.5s ease forwards 1.2s;
    }
    #logo path:nth-child(1){
        stroke-dasharray: 457.22;
        stroke-dashoffset: 457.22;
        animation: line-anim 1.5s ease forwards 1.2s;
    }

    @keyframes line-anim{
        to{
            stroke-dashoffset: 0;
            stroke: rgba(255, 255, 255, 0.5); /* Lighter stroke color */
            stroke-width: 2; /* Thinner stroke width */
        }
    }

    @keyframes fill {
        from {
            fill: transparent;
            
        }
        to{
            fill: white;
        }
    }