@import "tailwindcss";


@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


:root {
  font-family: 'Satoshi', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only-dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  font-family: 'Satoshi', sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: transparent;
}

/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.grain-overlay {
  position: relative;
  z-index: 50;
}

.grain-overlay::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: 
    repeating-conic-gradient(#00000010 0% 25%, transparent 0% 40%),
    repeating-linear-gradient(45deg, #00000005 0%, transparent 20%);
  mix-blend-mode: overlay;
  opacity: 0.3;
  pointer-events: none;
  z-index: 1;
}

/* resulting css */
.app {
  width: 250px;
  height: 250px;
  filter: contrast(170%) brightness(650%);
  background: 
	linear-gradient(298deg, rgba(0,0,0,1), rgba(0,0,0,0)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl
  }
}

@keyframes move-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-move-left {
  animation: move-left 15s linear infinite;
}

@keyframes move-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-move-right {
  animation: move-right 15s linear infinite;
}

@keyframes shine {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.shine-ring {
  background: conic-gradient(
    from 0deg,
    #00F5FF,
    #000,
    #000,
    #00F5FF,
    #000,
    #000,
    #000,
    #00F5FF
  );
  background-size: 300% 300%;
  animation: shine 6s ease-out infinite;
}

@keyframes rotate-glow {
  0% { transform: rotate(70deg); }
  50% { transform: rotate(100deg); }
  100% { transform: rotate(70deg); }
}

.rainbow {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.rainbow::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 50% 30%;
  filter: blur(6px);
  background-image: linear-gradient(90deg, #ffffff, #00f5ff, #ffffff);
  animation: rotate-glow 4s ease-in-out infinite;
}
